.prova-round{
	width:200px;
	height:200px;
	border-radius: 50%;
	cursor:pointer;
}
				
.prova-round > div{
	padding-top:25%;
}				
			
.aruba-logo {
	background-image: url("/img/logo-aruba.png");
	width:40px;
}
		
.navbar-collapse .collapse{
	padding-top:10px;
}
				
.navbar-inverse {
	height:60px;
	background: rgba(242,242,241,.95);
	box-shadow: 0 3px 5px rgba(10,10,10,.3);
}
				
.ball-diagram{
	margin-left:5em;
}
				
.carousel-control{
	width:25px;
}

.carousel-inner{
	height:250px;
}

.form-group{
	height:100%;
	width:100%;}
}
#accordion-ricerca{
	padding-left;30px;
	padding-right;30px;
}

.bg-success-aruba { 
  background-color: #ff9635;
	color: white;  
}
				