.aruba-header {
	background: #F2F2F1; 
	padding: 1em;
}

div[data-role=page] {
	background: #FFFFFF;
}

.aruba-header-top {
    height: 30px;
    min-width: 620px;
    font-size: 12px;
    border-bottom: 1px solid #303030;
    background-color: #fd8354;
}

.aruba-header-top-container{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.aruba-header-top-menu-right{
	margin: 0;
    float: right;
    list-style: none;
}

.aruba-menu-nav-right{
	padding-left: 0px;
    margin: 0px;
}
.aruba-menu-nav-right > li {
    float: left;
    position: relative;
    display: block;
}
.aruba-header-top-container > div > ul {
    padding-top: 4px;
}
.aruba-menu-separator{
	background: url("../img/separator.png") no-repeat center left;
}

.aruba-menu-nav-right > li > a {
	padding: 2px 12px 0;
    color: #FFF !important;
    cursor: pointer;
}

.aruba-content {
	background: white;
}

.aruba-footer {
	bottom:0;
	text-align: center;
    width: 100%;
    min-width: 920px;
}

.aruba-login-section {
	height: 50%; 
	width: 50%; 
	margin: auto; 
	position: relative;
	border-radius: 25px;
	border: 1px solid;
	padding: 2em;
}

.ui-body-c .ui-link {
    color: #2489ce;
    font-weight: normal;
	text-decoration: none;
}

.ui-body-c {
	text-shadow: none;
}

.aruba-button-green {
	background: url(../img/button-effect-green.png) no-repeat;
	line-height: 12px;
	color: #FFFFFF;
}

.copyrightBottomDescription {  
    vertical-align: top;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}

.arubaGroupLogo{
    margin-bottom: 12px;
}

.wizard, .tabcontrol {
    display: block;
    width: 60% !important;
    overflow: hidden;
    height: 10%;
    position: relative;
    left: 20%;
}

select {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

